h1 {
    color: blue;
    text-align: center;
  }
  h2 {
    color: rgb(128, 0, 11);
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
    line-height: 1.5;
  }
  ol {
    line-height: 40px;
    color: blueviolet;
  }
  body {
    background-color: skyblue;
  }